
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
  }
  
  /*Agregamos margenes inferiores a los parrafos*/
  p {
    margin-bottom: 20px;
  }

body{
   font-family: 'Courier New', courier;
   font-size:  18px;
   background-image: url(imagenes/nasus.png);
   height: max-content;
   background-attachment: fixed;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
}
nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}
  
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
  
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
  
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
  
nav ul li:hover {
    background: #02175f;
}

main{
    width: 60%;
    color: #EEEBD0;
    text-justify: auto;
    text-decoration: violet;
 
}
main p{
    padding-top: 0px;
    padding-left: 35px;
}
main h1{
    text-align: center;
    padding-top: 80px;
}

footer{
    background: #464444;
    width: 100%;
    float: left;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    
}
footer li{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;

    display:inline-table;
}

