.arriba{
    padding-top: 20px;
    width: 100%;
    max-width:100%;
    align-items: center;
}
main{
    color: #fff;
    padding-top: 30px;
    width: 60%;
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 40px;
    background: rgba(0,0,0,0.7);
    
}

.articulo h1{
    text-transform: uppercase;/*cambia las letras a mayuscula*/
}

 aside{
    background: rgba(0,0,0,0.7);
    padding: 8px ;
    width: 30%;
    margin-left: 50px;
    color: #fff;
    padding-top: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align:justify;
}
p{
    margin: 15px;
}
.contenido{
    
    font-family: Georgia;
    display: flex;

}

@media (max-width: 768px) {
    .contenido{
        display:block; 
    }
    main{
        margin-left: 45px;
        width:90%;
    }
    aside{
        width: 90%;
        margin-left: 45px;
        
    }
 
    .pie-pagina .primera-parte{
        width: 100%;
        grid-template-columns: repeat(1,1fr);/*definomos la cantodad de colmnas*/
        grid-gap: 30px;
        padding: 35px 0;
    }
    .grupo-2{
        text-align: center;
    }
    .boxx{
        text-align: center;
    }

}