.arriba{
    padding-top: 20px;
    width: 100%;
    max-width:100%;
    align-items: center;
}
main{
    padding-top: 30px;
    width: 60%;  
}
aside{
    padding-top: 30px;
    width: 35%;
    padding-left: 150px;
}
.contenido{
    
    display: flex;
   
}
@media (max-width: 768px) {
    .contenido{
        display:block; 
    }
    aside{
        width: 100%;
    }
    mais{
        width: 100%;
    }
}