.arriba{
    padding-top: 20px;
    width: 100%;
    max-width:100%;
    align-items: center;
}
main{
   
    padding-top: 30px;
    width: 60%;
    text-align: justify;
}
aside{
    
    padding-top: 30px;
    width: 35%;
    padding-left: 150px;
    text-align:justify;
}
.contenido{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;

}
footer{
       
        font-size: calc(1em + 1vw);
        line-height: 1em;
        padding: 1em;
        margin: 1em;
        text-align: center;
}
@media (max-width: 768px) {
    .contenido{
        display:block; 
    }
    aside{
        width: 100%;
       
        padding: 0;
    }
    main{
        
        width: 100%;
    }
}